<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
       <h1> Vishal / N01546838</h1>
       <nav>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/data">Data</a></li>
    <li><a href="/search/invoiceNo">Search Invoice</a></li>
    <li><a href="/search/SearchManufacturerForm">Search Manufacturer</a></li>
     <li><a href="/viewData">View Data</a></li>
  </ul>
</nav>
    </header>

    <main>
            
    {{{body}}}
    </main>
    <footer>
        kanakamamidivishal@gmail.com
    </footer>
  </body>
</html>